<EditableEditorHeader version = "031" >
	<StringPool ADD = "增加"  COPY = "拷贝至剪贴板" EDIT = "编辑" FOLD = "收起" DEL = "删除" EXPORT = "导出"
	NEW = "新建" OPEN = "打开" SAVE = "保存" CANCEL="取消" RETRY="重试"
	CLASS_INSRANCE_IS_USED = "类 '%1' 的实例 '%2' 被使用中!!!"
	CLASS_INSRANCE_IS_USING_THIS_CLASS  = "类 '%1' 的实例 '%2' 正在使用该实例!!!"
	/>
	
	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<TextField className = "Input Text Long" editable = "true" width = "200" restrict = "^ "/>
	<TextField className = "Input Text Area" editable = "true" width = "260" height = "60"/>
	<TextField className = "Input Tips" editable = "true" width = "180"/>
	<TextField className = "Input Text" editable = "true" width = "100" restrict = "a-zA-Z_0-9" defaultText = "Success"/>
	<TextField className = "Input Number" editable = "true" width = "28" restrict = "0-9\-" defaultText = "输入数字" export="text=s8_16_32" />
	<TextField className = "TextFiled Indicate Copy" editable = "false" width = "0" height = "20" border = "true" background = "false" selectable = "true" />
	<TextField className = "TextFiled Indicate" editable = "false" width = "0" height = "12" border = "false" background = "false" selectable = "false"/>
	<TextField className = "TextFiled Indicate 3line" editable = "false" width = "0" height = "40" border = "false" background = "false" selectable = "false"/>
	<TextField className = "TextFiled Mark" editable = "false" width = "120" height = "20" border = "true" background = "true" selectable = "true"/>
	<TextField className = "Line" editable = "false" width = "0" height = "12" border = "false" background = "false" selectable = "false" defaultText = "---------------------------------------------------------------------------------"/>
	
	<Include filename = "Config/AngelWorldEvent.xml"/>
	<Include filename = "Config/AngelWorldTrigger.xml"/>
	<Include filename = "Config/SceneSelector.xml"/>
	<Include filename = "Config/GameSelector.xml"/>
	
	<Include filename = "Config/AngelWorld.xml"/>

	<Include filename = "Config/TaskSelector.xml"/>
	<Include filename = "Config/D_NPCSelector.xml"/>


	<Include filename = "Config/AvatarSelector.xml"/>
	<Include filename = "Config/BadgeSelector.xml"/>



	
	<Include filename = "Config/TaskConfig.xml"/>
	<Include filename = "Config/Condition.xml"/>
	<Include filename = "Config/ProtocolEditor.xml"/>

		

	
	
	

	
	<Page name = "条件列表">	
		<classInstance class = "ConditionEditableCreater" name = "增加一个条件"/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "Line" name = ""/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "ConditionEditableList" name = "条件列表"/>
	</Page>
	
	<Page name = "对话框列表">	
		<classInstance class = "对话框创建器" name = "请选择增加对话框的类型"/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "Line" name = ""/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "对话框浏览器" name = "对话框列表"/>
		
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "Line" name = ""/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "TextFiled Indicate" name = "" text = "场景ID查看"/>
		<classInstance class = "SceneSelector" name = "" text = ""/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "TextFiled Indicate" name = "" text = "NPC ID查看"/>
		<classInstance class = "D_NPCSelector" name = "" text = ""/>
	</Page>
	
	<Page name = "场景物件列表">	
		<classInstance class = "场景物件创建器" name = "请选择增加场景物件的类型"/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "Line" name = ""/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "场景物件浏览器" name = "场景物件列表"/>
	</Page>
	
	<Page name = "事件列表">	
		<classInstance class = "事件创建器" name = "请选择增加事件的类型"/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "Line" name = ""/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "事件浏览器" name = "事件列表"/>
	</Page>
	
	
	<Page name = "协议列表">	
		<classInstance class = "ProtocolCreater" name = "请选择增加的协议"/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "Line" name = ""/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "ProtocolList" name = "协议列表"/>
	</Page>
	
	<Page name = "变量列表">	
		<classInstance class = "VariableCreater" name = "请选择增加的变量"/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "Line" name = ""/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "VariableList" name = "变量列表"/>
	</Page>
	
	
	<Page name = "触发器列表">	
		<classInstance class = "触发器创建器" name = "请选择增加的触发器"/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "Line" name = ""/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "触发器浏览器" name = "触发器列表"/>		
	</Page>

	

	<!--Plugin name = "显示场景预览" data = "Plugin/PlugRocoSceneViewer.swf" resRoot = "http://res.17roco.qq.com/res/scene/"/-->

	
</EditableEditorHeader>
