<EditableEditorHeader version = "031" >
	<StringPool ADD = "增加"  COPY = "拷贝至剪贴板" EDIT = "编辑" FOLD = "收起" DEL = "删除" EXPORT = "导出"
	NEW = "新建" OPEN = "打开" SAVE = "保存" CANCEL="取消" RETRY="重试"
	CLASS_INSRANCE_IS_USED = "类 '%1' 的实例 '%2' 被使用中!!!"
	CLASS_INSRANCE_IS_USING_THIS_CLASS  = "类 '%1' 的实例 '%2' 正在使用该实例!!!"
	/>
	
	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<TextField className = "Input Text Long" editable = "true" width = "200" restrict = "^ "/>
	<TextField className = "Input Text Area" editable = "true" width = "260" height = "60"/>
	<TextField className = "Input Tips" editable = "true" width = "180"/>
	<TextField className = "Input Text" editable = "true" width = "100" restrict = "a-zA-Z_0-9" defaultText = "Success"/>
	<TextField className = "Input Number" editable = "true" width = "28" restrict = "0-9\-" defaultText = "输入数字" export="text=s8_16_32" />
	<TextField className = "TextFiled Indicate Copy" editable = "false" width = "0" height = "20" border = "true" background = "false" selectable = "true" />
	<TextField className = "TextFiled Indicate" editable = "false" width = "0" height = "12" border = "false" background = "false" selectable = "false"/>
	<TextField className = "TextFiled Indicate 3line" editable = "false" width = "0" height = "40" border = "false" background = "false" selectable = "false"/>
	<TextField className = "TextFiled Mark" editable = "false" width = "120" height = "20" border = "true" background = "true" selectable = "true"/>
	<TextField className = "TextFiled Mark Number" editable = "false" width = "120" height = "20" border = "true" background = "true" selectable = "true" export="text=s8_16_32"/>
	<TextField className = "Line" editable = "false" width = "0" height = "12" border = "false" background = "false" selectable = "false" defaultText = "---------------------------------------------------------------------------------"/>
	
	<Include filename = "Sound.xml"/>
	<Include filename = "Character.xml"/>
	<Include filename = "NameString.xml"/>
	<Include filename = "Scene.xml"/>
	<Include filename = "Event.xml"/>
	<Include filename = "DialogBoard.xml"/>
	
	
	<Page name = "对话框列表">	
		<classInstance class = "DialogBoardCreater" name = "请选择对话框的类型" default="1"/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "Line" name = ""/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "DialogBoardSelector" name = "对话框列表"/>
		
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "Line" name = ""/>
		<classInstance class = "ENTER" name = "" />

	</Page>
	<Page name = "事件列表">	
		<classInstance class = "EventCreator" name = "请选择事件类型"/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "Line" name = ""/>
		<classInstance class = "ENTER" name = "" />
		<classInstance class = "EventSelector" name = "事件列表"/>
	</Page>
	
</EditableEditorHeader>
